.GameBoard {
    height: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: var(--tileheight) auto var(--tileheight);
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
    background-color: var(--offblack);
}

.card-board {
    display: grid;
    grid-template-columns: repeat(4, var(--cardwidth));
    grid-auto-rows: var(--cardheight);
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-content: center;
    overflow: auto;
    padding: 2.5rem 1rem;
}